<div class="contact-us-container">
    <h2>Contact Us</h2>
    <hr>
    <div class="contact-info">
      <div class="contact-details">
        <h3>Our Location</h3>
        <p> DLF</p>
        <p>Hyderabad, Telangana,</p>
        <p>India - 500032</p>
      </div>
      <div class="contact-details">
        <h3>Email</h3>
        <p>Email: Away4Drive&#64;gmail.com</p>
      </div>
      <div class="contact-details">
        <h3>Phone</h3>
        <p>Phone: +91 7085568255</p>
      </div>
    </div>
    <div class="contact-form">
      <h3>Send us a Message</h3>
      <form>
        <div class="form-group">
          <input type="text" placeholder="Your Name" required>
        </div>
        <div class="form-group">
          <input type="email" placeholder="Your Email" required>
        </div>
        <div class="form-group">
          <textarea placeholder="Your Message" required></textarea>
        </div>
        <button type="submit" (click)="submitMessage()">Send Message</button>
      </form>
    </div>
  </div>