<div>
    <h1 class="text-center">Away4Drive</h1>
  
    <div class="about-container">
      <p>
        Welcome to Away4Drive, your ultimate destination for hassle-free car rentals.
        We are dedicated to providing a seamless experience for our customers.
        Away4Drive is India's premier chauffeur driven car rental service. 
        Since our inception in 2024, we have constantly strived to offer reliable, safe and affordable cabs. 
        Our presence in over 2000 cities across the country uniquely positions us as India's largest geographical network of cab services. 
        Our services include Outstation Oneway drops, Outstation Roundtrips, Hourly Local Rentals and Airport Transfers.
        That said, we don't want to be remembered as just another Car Rental company. 
        Never Ending Roads
      </p>
    </div>
  
    
      <div class="bannerBelow">
         
           <div class="my-5 d-flex justify-content-between align-items-center row"> 
            <div class="bg-secondary text-white rounded d-flex justify-content-center overflow-hidden mx-auto p-5" style="width: 700px; height:400px"> 
              <div class="d-flex justify-content-center align-items-center" style=" height: auto;"> 
                <iframe 
                width="750" height="350" 
                src="https://www.youtube.com/embed/VWrJkx6O0L8?si=f7LhSv1ubZOLsenc" 
                title="YouTube Video" frameborder="0" allowfullscreen style="width: 650px;" >
                </iframe> 
              </div>
             </div> 
            </div>
      </div>
      
  
  
    <div class="mission-container">
      <h2>Our Mission</h2>
      <p>
        Our mission is to 'Make every Indian fall in love 
        with Road Travel'. Roaming on serpentine roads of India, where ancient mountains whisper tales of time and saree-clad silhouettes 
        pirouette in marigold sunsets. The air vibrates with manifold dialects, harmonized by sweet symphonies of hymns. Vendors sell 
        spicy chaat, bazaars burst with kaleidoscopic trinkets, while incense from far-off temples paints the journey in divine hues. 
        What better way to experience these sights, sounds, smells and tastes than in a chauffeur-driven car?, Away4Drive has you covered.
      </p>
    </div>
    <div class="details">
      
    </div>
  </div>
  
  