


  <div class="main">
    <div class="container">
      <div class="payment-details" style="text-align: center;">
        <h2>Payment Details</h2>
        <p class="car-id">Car ID: {{ carId }}</p>
        <!-- <p class="car-model">Car Model: {{ Car.model }}</p> -->
        <p class="car-total-price">Total Price: ${{ totalPrice }}</p>
        <p>Booking Period: {{ startDate }} to {{ endDate }}</p>
        <!-- --Additional details as needed -->
    
        <!-- --Confirmation button -->
        <div style=" display: flex;justify-content: center;"><button style="background-color: #ff6a00;" class="confirmation-button" (click)="confirmPayment()">Confirm Payment</button></div>
      </div>
    </div>

  </div>