


/* ul {
    list-style-type: none;
    padding: 0;
  } */
  
  /* Style for each booking item */
  /* li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  } */
  
  /* Style for the date and details */
  /* p {
    margin: 0;
  } */
  
  /* Style for the "No booking history available" message */
  /* #noHistory {
    color: #999;
    font-style: italic;
  } */