<div class="slider">
    <div class="sliderWrapper">
        <div class="sliderItem">
            <!-- <img src="../../assets/images/BMW photo.avif" alt="" class="sliderImg"> -->
            <!-- <div class="sliderBg"></div> -->
            <h1 class="sliderTitle">BMW<br> NEW<br> RIDE</h1>
            <!-- <h2 class="sliderPrice">Rs.3989</h2> -->
            <a (click)="goToHome()">
                <button class="buyButton">BOOK NOW!</button>
            </a>
        </div>
        
    </div>
</div>
 
<div class="features">
    <div class="feature">
        <img src="../../assets/images/pexels-mike-bird-.jpg" alt="" class="featureIcon">
        <span class="featureTitle">FREE SHIPPING</span>
        <span class="featureDesc">Free worldwide shipping on all orders.</span>
    </div>
    <div class="feature">
        <img class="featureIcon" src="../../assets/img/return.png" alt="">
        <span class="featureTitle">30 DAYS RETURN</span>
        <span class="featureDesc">No question return and easy refund in 14 days.</span>
    </div>
    <div class="feature">
        <img class="featureIcon" src="../../assets/img/gift.png" alt="">
        <span class="featureTitle">GIFT CARDS</span>
        <span class="featureDesc">Buy gift cards and use coupon codes easily.</span>
    </div>
    <div class="feature">
        <img class="featureIcon" src="../../assets/img/contact.png" alt="">
        <span class="featureTitle">CONTACT US!</span>
        <span class="featureDesc">Keep in touch via email and support system.</span>
    </div>
</div>
 
<div class="product" id="product">
    <img src="../../assets/images/red ar.avif" alt="" class="productImg">
    <div class="productDetails">
        <h1 class="productTitle">Dream</h1>
        <h2 class="productPrice">Rs.2459</h2>
        <p class="productDesc">Lorem ipsum dolor sit amet consectetur impal adipisicing elit. Alias assumenda
            dolorum
            doloremque sapiente aliquid aperiam.</p>
        <div class="colors">
            <div class="color"></div>
            <div class="color"></div>
        </div>
       
        <button class="productButton">BOK NOW!</button>
    </div>
   
</div>
<div class="gallery">
    <div class="galleryItem">
        <h1 class="galleryTitle">Be Yourself!</h1>
        <img src="../../assets/images/be yourself car.avif?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="" class="galleryImg">
    </div>
    <div class="galleryItem">
        <img src="../../assets/images/mirror click car.avif?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="" class="galleryImg">
        <h1 class="galleryTitle">This is the First Day of Your New Life</h1>
    </div>
    <div class="galleryItem">
        <h1 class="galleryTitle">Just Do it!</h1>
        <img src="../../assets/images/black look car.avif?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="" class="galleryImg">
    </div>
</div>
<div class="newSeason">
    <div class="nsItem">
        <img src="https://images.pexels.com/photos/4753986/pexels-photo-4753986.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="" class="nsImg">
    </div>
    <div class="nsItem">
        <h3 class="nsTitleSm">NEW LUXURY ARRIVALS</h3>
        <h1 class="nsTitle">New Dream CAR</h1>
        <h1 class="nsTitle">New Collection</h1>
        <a (click)="goToHome()">
            <button class="nsButton">CHOOSE YOUR CAR</button>
        </a>
    </div>
    <div class="nsItem">
        <img src="https://images.pexels.com/photos/7856965/pexels-photo-7856965.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="" class="nsImg">
    </div>
</div>
<footer>
    <div class="footerLeft">
        <div class="footerMenu">
            <h1 class="fMenuTitle">About Us</h1>
            <ul class="fList">
                <li class="fListItem">Company</li>
                <li class="fListItem">Contact</li>
                <li class="fListItem">Careers</li>
                <li class="fListItem">car</li>
                <li class="fListItem">Stores</li>
            </ul>
        </div>
        <div class="footerMenu">
            <h1 class="fMenuTitle">Useful Links</h1>
            <ul class="fList">
                <li class="fListItem">Support</li>
                <li class="fListItem">Refund</li>
                <li class="fListItem">FAQ</li>
                <li class="fListItem">Feedback</li>
                <li class="fListItem">Stories</li>
            </ul>
        </div>
        <div class="footerMenu">
            <h1 class="fMenuTitle">Products</h1>
            <ul class="fList">
                <li class="fListItem">BMW</li>
                <li class="fListItem">MERCIDIES</li>
                <li class="fListItem">TESLA</li>
                <li class="fListItem">TATA MOTORS</li>
                <li class="fListItem">MAHINDRA</li>
            </ul>
        </div>
    </div>
    <div class="footerRight">
        <div class="footerRightMenu">
            <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
            <div class="fMail">
                <input type="text" placeholder="rajdeep@gmail.com" class="fInput">
                <button class="fButton">Join!</button>
            </div>
        </div>
        <div class="footerRightMenu">
            <h1 class="fMenuTitle">Follow Us</h1>
            <div class="fIcons">
                <img src="../../assets/img/facebook.png" alt="" class="fIcon">
                <img src="../../assets/img/twitter.png" alt="" class="fIcon">
                <img src="../../assets/img/instagram.png" alt="" class="fIcon">
                <img src="../../assets/img/whatsapp.png" alt="" class="fIcon">
            </div>
        </div>
        <div class="footerRightMenu">
            <span class="copyright">©️ Rajdeep Thakur All rights reserved 2024.</span>
        </div>
    </div>
</footer>
