<div class="slider">
    <div class="sliderWrapper">
        <div class="sliderItem">
            
            <h1 class="sliderTitle">BMW<br> NEW<br> RIDE<br></h1>
            <h1 class="sliderTitle1">IN HYDERABAD<br></h1>
           
            <a (click)="goToHome()">
                <br><button routerLink="/cars" class="buyButton ">BOOK NOW!</button>
            </a>
        </div>
        
    </div>
</div>

 
<div class="features">
    <div class="feature">
        <img class="featureIcon" src="../../assets/images/searhCharSign.webp" alt="">
        <span class="featureTitle" (click)="goTovehicleSelection()">VEHICLE SELECTION <br>AND AVAILABILITY</span>
        <span class="featureDesc">Wide range of rental vehicles available with real-time availability updates.</span>
    </div>    
    <div class="feature">
        <img class="featureIcon" src="../../assets/images/insurance.jpg" alt="">
        <span class="featureTitle" (click)="goToInsurance()">INSURANCE AND <br>PROTECTION PLANS</span>
        <span class="featureDesc">Comprehensive insurance coverage and<br> protection plans for your rental.</span>
    </div>
    <div class="feature">
        <img class="featureIcon" src="../../assets/images/vehicleInspectionColor.png" alt="">
        <span class="featureTitle" (click)="goTovehicleInspection()">VEHICLE INSPECTION AND <br>CONDITION REPORTING</span>
        <span class="featureDesc">Thorough vehicle inspection before and after each rental with detailed condition reports.</span>
    </div>
    <div class="feature">
        <img class="featureIcon" src="../../assets/images/contactUs.png" alt="">
        <span class="featureTitle" (click)="goTocontactUs()">CONTACT US!</span>
        <span class="featureDesc">Keep in touch via email and support system.</span>
    </div>
</div>
 
<div class="product" id="product">
    <img src="../../assets/images/redCar.avif" alt="" class="productImg">
    
    <div class="productDetails">
        <h1 class="productTitle">Experience the euphoria of driving your dream car</h1>
        <h2 class="productPrice">Starting from ₹1500</h2>
        <p class="productDesc">Welcome to our car rental platform, where dreams meet reality! We
            understand that everyone has their dream car - that one vehicle they've always dreamed of 
            driving, but perhaps thought was out of reach. At our car rental service , we're here to bridge that gap between aspiration and accessibility.
        </p>
        <div class="colors">
            <div class="color"></div>
            <div class="color"></div>
        </div>
       
        <button routerLink="/cars" class="productButton">BOOK NOW!</button>
    </div>
    
   
</div>

<div class="gallery">
    <div class="galleryItem">
        <h1 class="galleryTitle">Be Yourself!</h1>
        <img src="../../assets/images/beYourSelfcar.avif"
            alt="" class="galleryImg">
    </div>
    <div class="galleryItem">
        <img src="../../assets/images/mirrorClickCar.avif"
            alt="" class="galleryImg">
        <h1 class="galleryTitle">This is the First Day of Your New Life</h1>
    </div>
    <div class="galleryItem">
        <h1 class="galleryTitle">Just Do it!</h1>
        <img src="../../assets/images/blackLookCar.avif"
            alt="" class="galleryImg">
    </div>
</div>
<div class="newSeason">
    <div class="nsItem">
        <img src="https://cdn.pixabay.com/photo/2017/05/23/20/08/mustang-2338377_1280.jpg"
            alt="" class="nsImg">
    </div>
    <div class="nsItem">
        <h3 class="nsTitleSm">NEW LUXURY ARRIVALS</h3>
        <h1 class="nsTitle">New Dream CAR</h1>
        <h1 class="nsTitle">New Collection</h1>
        <a>
            <button routerLink="/cars" class="nsButton">CHOOSE YOUR CAR</button>
        </a>
    </div>
    <div class="nsItem">
        <img src="https://cdn.pixabay.com/photo/2017/11/09/01/49/ferrari-458-spider-2932191_640.jpg"
            alt="" class="nsImg">
    </div>
</div>

<footer class="bg-light text-center text-lg-start text-muted mt-5">
    <section class="text-white d-flex justify-content-around align-items-center p-4 border-bottom bg-secondary">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
            <h6 class="text-uppercase mb-4">
              <b>Rent with Confidence</b>
            </h6>
            <p class="lh-5">
              Explore the world on your terms with our premium car rental services. Whether it's a weekend getway or a cross-country adventure, we've got the perfect ride for you. With a wide selcetion of vehicles and unbeatable price, your journey starts here.
            </p>
          </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
            <h6 class="text-uppercase mb-4">Services</h6>
            <p><a href="" routerLink="/about">About Us</a></p>
            <p><a href="" routerLink="/cars">Car</a></p>
            <p><a href="" routerLink="/contactUs">Contact Us</a></p>
          </div>
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto">
            <h6 class="text-uppercase mb-4">Contact</h6>
            <p><i class="fas fa-home me-2"></i> DLF Hyderabad, IN 50032</p>
            <p><i class="fas fa-envelope me-3"></i> Away4Drive&#64;gmail.com</p> 
            
            <p><i class="fas fa-phone me-3"></i> +91 7085568255</p>
            <p><i class="fas fa-print me-3"></i> +01 234 567 89</p>
            
          </div>
        </div>
      </div>
    </section>
  
    <div class="text-center text-white bg-dark p-4" style="background-color: #050c1f;">
      ©2024. Away4Drive All Rights Reserved
    </div>
</footer>